#title {
    background-color: plum;
    font-family: Optima, sans-serif;
}

.description {
    background-color: peachpuff;
    font-family: Optima, sans-serif;
}

.ingredients {
    background-color: peachpuff;
    font-family: Optima, sans-serif;
}

.instructions {
    background-color: peachpuff;
    font-family: Optima, sans-serif;
}